.spell-inputs-container {
	display: flex;
	align-items: center;
}

.spell-input {
	height: 40px;
	padding: 0 10px;
	border: 1px solid black;
	border-radius: 0;
	min-width: 400px;
	font-family: 'Monaspace Radon', 'Consolas', monospace;
}

.spell-input-wrong {
	background-color: #ff5252;
}

.spell-input-correct {
	background-color: #69f0ae;
}

#submit-button {
	margin-left: 10px;
}
